# Chipotle快餐数据 - 了解数据

![](https://github.com/tim530712345/20210626/blob/main/images/1.jpeg?raw=1)

### 1. 从文件中加载数据，并查看数据前3行

In [4]:
# 导入pandas库并命名为pd
import pandas as pd

In [8]:
# 加载数据
chipo = pd.read_csv('chipotle.tsv', sep='\t') # 分隔符號為tab鍵

In [6]:
chipo.head(3)

   order_id  quantity  ... choice_description item_price
0         1         1  ...                NaN     $2.39
1         1         1  ...       [Clementine]     $3.39
2         1         1  ...            [Apple]     $3.39

[3 rows x 5 columns]

In [9]:
# 查看各列的数据类型 dtypes
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [10]:
# 将item_price列转换为数字类型
# apply 是一個欄位資料做資料的運算後來覆蓋原始資料的處理
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:])) # $ 以後的文字轉成浮點數

In [11]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [12]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98
5         3  ...       10.98
6         3  ...        1.69
7         4  ...       11.75
8         4  ...        9.25
9         5  ...        9.25

[10 rows x 5 columns]

### 2. 查看数据集的基本信息

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### 3. 查看数据的行列数和列名

In [16]:
print ('(row, column) = ', chipo.shape)

(row, column) =  (4622, 5)

In [17]:
# 列名
print('columns = ', chipo.columns)

columns =  Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [18]:
# 查看索引信息
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 4. 查询商品种类的数量，以及下单最多的几种商品

In [ ]:
print ('Total items: ', len(chipo.item_name.unique()))
print ('--------------------------------------------------------------------------------')
print ('Total items: ', chipo.item_name.value_counts().count())
print ('--------------------------------------------------------------------------------')
print ('Total items = ', len(chipo.groupby(['item_name']).groups))

Total items:  50
--------------------------------------------------------------------------------
Total items:  50
--------------------------------------------------------------------------------
Total items =  50

In [ ]:
# 获取销量最多的商品名
chipo.item_name.value_counts().head().index

Index(['Chicken Bowl', 'Chicken Burrito', 'Chips and Guacamole',
       'Steak Burrito', 'Canned Soft Drink'],
      dtype='object')

In [ ]:
# 获取销量最多的商品销售量
chipo.item_name.value_counts().head()

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

### 5. 查询最受欢迎的食物及其销量，销售额

In [ ]:
# 查询最受欢迎的食物
favoriteItems = chipo.groupby(['item_name']).sum().sort_values('quantity', ascending=False)
# 删除order_id列
#favoriteItems = favoriteItems.drop('order_id', axis=1)
favoriteItems.head()

                     order_id  quantity  item_price
item_name
Chicken Bowl           713926       761     7342.73
Chicken Burrito        497303       591     5575.82
Chips and Guacamole    449959       506     2201.04
Steak Burrito          328437       386     3851.43
Canned Soft Drink      304753       351      438.75

### 6. 查询最受欢迎食物（下单数，销量，销售额）

In [ ]:
# agg 複合性處理 把欄位資料做分群後的處理
# Agg 是欄位資料做分群後，其他的欄位做分群函式處理(ex : count, sum, avg)
favoriteItems = chipo.groupby(['item_name']).agg({'order_id' : 'count', 'quantity' : 'sum', 'item_price' : 'sum'}).sort_values('item_price', ascending=False)
favoriteItems.head()

                     order_id  quantity  item_price
item_name
Chicken Bowl              726       761     7342.73
Chicken Burrito           553       591     5575.82
Steak Burrito             368       386     3851.43
Steak Bowl                211       221     2260.19
Chips and Guacamole       479       506     2201.04

###  7. 查询订单的商品总数量

In [ ]:
chipo.quantity.sum()

4972

### 8. 统计总收入

In [ ]:
chipo.item_price.sum()

34500.16

### 9. 统计订单总数

In [ ]:
chipo.order_id.value_counts().count()

1834

### 10. 订单平均消费

In [ ]:
chipo.item_price.sum() / chipo.order_id.value_counts().count() # 總金額/總訂單數
# chipo.groupby(by=['order_id']).sum()['item_price'].mean()

18.811428571428575

### 11. 按商品名称过滤查询数据

In [ ]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] > 1)].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
154,70,2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",17.50
282,124,2,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",17.50
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
415,181,2,Chicken Bowl,[Tomatillo Red Chili Salsa],17.50

### 12. 查询消费金额最大的订单信息 (3个)

In [ ]:
maxOrder = chipo.groupby(['order_id']).sum().sort_values('item_price', ascending=False)
maxOrder.head(10)

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74
1483            14      139.00
691             11      118.25
1786            20      114.30
205             12      109.90
511             17      104.59
491             10      102.00
1449            11       95.39
759             18       86.30

In [ ]:
arrOrderId = maxOrder.head(3).index[0:3].values
arrOrderId

array([ 926, 1443, 1483], dtype=int64)

In [ ]:
chipo[chipo['order_id'].isin(arrOrderId)]

,order_id,quantity,item_name,choice_description,item_price
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",9.25
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",9.25
2309,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2310,926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",9.25
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
2312,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",8.75
2313,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",8.75
2315,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25
2316,926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
2317,926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
2319,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",9.25
2320,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",8.75
2321,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",8.75
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",8.75
2323,926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.25
2324,926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",8.75
2325,926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",9.25
2326,926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3599,1443,7,Bottled Water,NaN,10.50
3600,1443,1,6 Pack Soft Drink,[Coke],6.49
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",27.75
3604,1443,2,Bottled Water,NaN,3.00
3700,1483,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
3701,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
3702,1483,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
3703,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.25
3704,1483,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.75
3705,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
3706,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",8.75
3707,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",9.25
3708,1483,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",8.75
3709,1483,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
3710,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75
3711,1483,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
3712,1483,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Chees...",8.75
3713,1483,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.75

# 查詢最不熱賣的商品

# 圖表呈現